
// .example-form {
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;
//   margin-right: 30%;
// }

// .example-full-width {
//   width: 100%;
// }
// .bar{
//   width: 500px;
//     height: 20px;
// }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  
}

