<!-- <body>
    <div class="chat-contanier">
        <div class="search-container">
            <input type="text" placeholder="Search">
        </div>

        <div class="conversation-list">
            <div class="conversation active">
                <img src="../../../assets/Images/laptop.png" alt="">
                <div class="title-text">
                    Quang đã gửi tin nhắn
                </div>
                <div class="created-date">
                    March 21
                </div>
                <div class="conversation-message">
                    This is a message bruhhhhhhhhh
                </div>
            </div>
            <div class="conversation active">
                <img src="../../../assets/Images/laptop.png" alt="">
                <div class="title-text">
                    Trung đã gửi tin nhắn
                </div>
                <div class="created-date">
                    March 21
                </div>
                <div class="conversation-message">
                    This is a message bruhhhhhhhhh
                </div>
            </div>
            <div class="conversation active">
                <img src="../../../assets/Images/laptop.png" alt="">
                <div class="title-text">
                    Phú đã gửi tin nhắn
                </div>
                <div class="created-date">
                    March 21
                </div>
                <div class="conversation-message">
                    This is a message bruhhhhhhhhh
                </div>
            </div>
        </div>

        <div class="new-message-cotainer">
            <a href="#">+</a>
        </div>

        <div class="chat-title">
            <span>Quang</span>
            <img src="../../../assets/Images/195-1955423_keyword-search-vector-svg-icon-icon-search-svg.png" alt="">
        </div>

        <div class="chat-message-list">
            <div class="message-row you-message">
                <div class="message-content">
                    <div class="message-text">
                        Where my money
                    </div>
                    <div class="message-time">
                        March 21
                    </div>
                </div>
            </div>
            <div class="message-row other-message">
                <div class="message-content">
                    <img src="../../../assets/Images/laptop.png" alt="">
                    <div class="message-text">
                        Tonight 9pm
                    </div>
                    <div class="message-time">
                        March 21
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-form">
            <img src="../../../assets/Images/attachment-logo.jpg" alt="">
            <input type="text" placeholder="type a message">
        </div>
    </div>
</body> -->

<div class="body-content">
    <div class="main-content">
        <div class="chat">
            <div class="navchat">
                <img src="../../../assets/Images/laptop.png" alt="">
                <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
            </div>
            <mat-divider _ngcontent-lyb-c0="" class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal"></mat-divider>
            <div class="box-chat">

            </div>
        </div>
        <div class="chat-noti"></div>
    </div>
</div>