<!-- <div class="container">
    <div class="chat-box">
        <div class="row">
            <div class="chat-frame">
                <div class="friend">
                    <img src="" alt="img">
                    <h1>tantrung</h1>


                </div>

                <mat-divider _ngcontent-lyb-c0="" class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal"></mat-divider>

                <div class="chat-messages">
                    <div class="chat-messages-show-container">
                        <ul class="chat-messages-show-list" id="message-list">
                        </ul>
                    </div>
                    <div class="chat-messages-create-container">
                        <input class="chat-messages-create-input" type="text">
                        <button class="chat-messages-create-button"> Send </button>
                    </div>
                </div>
            </div>

            <div class="user-list">
                <div class="profile">
                    <img src="../../../assets/Images/applestore.png" alt="img">
                    <h1>nhphongphu</h1>


                </div>
                <div class="list-user">
                    <div class="mess">
                        <img src="../../../assets/Images/applestore.png" alt="img">
                        <h2>nhphongphu</h2>
                    </div>
                    <div class="mess">
                        <img src="../../../assets/Images/applestore.png" alt="img">
                        <h2>nhphongphu</h2>
                    </div>
                    <div class="mess">
                        <img src="../../../assets/Images/applestore.png" alt="img">
                        <h2>nhphongphu</h2>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div> -->

<div class="container">
    <div class="main-container">
        <div class="chat-container">
            <ul>
                <li style="display: block; float: right;" >First</li>
                <li >Second</li>
                <li>Third</li>
              </ul>
              <p>h</p>
        </div>
        <div class="conver-container">
            <mat-tab-group class="tabs">
                <mat-tab label="First"> Content 1 </mat-tab>
                <mat-tab label="Second"> Content 2 </mat-tab>   
              </mat-tab-group>
             
        </div>
    </div>
</div>