<main>
    <div class="log-in-container">
        <div class="log-in">
            <!-- Logo -->
            <img src="../../../assets/images/chatie-logo.png" class="logo" style="margin-bottom: 3rem;" />
            <!-- Log in form -->
            <div class="log-in-form">
                <input type="text" placeholder="Phone number, username or email" />
                <input type="password" placeholder="Password" />
                <button class="sign-in-btn" mat-raised-button>LOGIN</button>

            </div>
            <!-- OR divider -->
            <span class="or-divider">OR</span>
            <!-- Log in with Facebook -->
            <div class="fb-login">
                <section>
                    <!-- <div class="example-button-row"> -->
                    <button (click)="LoginWithGG()" class="login-with-serviceGG"><svg fill="#FFFFFF" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="25" height="25" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                   <g>
                       <g id="glass">
                           <path d="M286.875,229.5v63.75h150.45c-15.3,89.25-86.7,153-175.95,153c-104.55,0-191.25-86.7-191.25-191.25
                               s86.7-191.25,191.25-191.25c53.55,0,99.45,22.95,132.6,58.65l45.9-45.9c-45.9-45.9-107.1-76.5-178.5-76.5
                               c-140.25,0-255,114.75-255,255s114.75,255,255,255s242.25-114.75,242.25-255v-25.5H286.875z"/>
                       </g></g><g></g><g></g><g></g><g>
                   </g>
                   <g>
                   </g>
                   <g>
                   </g>
                   <g>
                   </g>
                   <g>
                   </g>
                   <g>
                   </g>
                   <g>
                   </g>
                   <g>
                   </g>
                   <g>
                   </g>
                   <g>
                   </g>
                   <g>
                   </g>
                   <g>
                   </g>
                   </svg>
                   </button>
                    <button class="login-with-serviceFB">
                        <svg fill = "#FFFFFF" id="Bold" enable-background="new 0 0 24 24" height="25" viewBox="0 0 24 24" width="25" xmlns="http://www.w3.org/2000/svg">
                            <path d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"/>
                        </svg>
                </button>
                    <!-- </div> -->
                </section>

            </div>
            <!-- Forgot password? -->
            <a href="#">Forgot password?</a>
        </div>
        <!-- Sign up -->
        <div class="sign-up" style="border-width: 2px; border-radius: 5px;">
            <span>Don't have an account?</span><a href="/chat-signup">Sign up</a>
        </div>

    </div>
    <!-- Phones -->
    <div class="phones-container">
        
        <div class="slide" style="height: 336px;width: 465px">
            <img src="../../../assets/images/logo.png" alt="slider" style="height: 336px;width: 465px">
            <img style="width: 600px; height: 400px; margin-top: 6rem;" src="../../../assets/Images/laptop1.jpg" />
        </div>
    </div>
</main>