<mat-menu #menu="matMenu">
    <button mat-menu-item mat-button>
          <span  style="color: red">Chặn</span>
        </button>
    <button mat-menu-item mat-button>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Nhập vào tên mới</mat-label>
              <input matInput placeholder="Ex. Nguyen Van A" />
            </mat-form-field>
          </form>
        </button>
    <button mat-menu-item>
            <span>Xác nhận</span>
          </button>
    <button mat-menu-item>
          <span>Hủy</span>
        </button>
</mat-menu>