<div class="setting" *ngIf="this.userInfo">
    <div class="profile">
        <h1 style="font-size: xx-large; margin-bottom: 30px;"><b>SETTING PROFILE</b></h1>
        <div class="img">
            <img style="border-radius: 50%;" [src]="this.userInfo.avatar">
            <h1 style="width: max-content; place-self: center; margin-top: 0.5rem;">{{this.userInfo.userName}}</h1>
        </div>
    </div>
    <br>
    <mat-divider style="margin: 10px 90px 10px 90px; border-top-color: currentcolor;"></mat-divider>
    <div class="form">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Ex. NguyenVanA@example.com" [value]="this.userInfo.email" disabled/>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>UserName</mat-label>
                <input type="text" matInput placeholder="Ex. Nguyen Van A" [value]="this.userInfo.userName" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" />
            </mat-form-field>
            <!-- <mat-form-field class="example-full-width">
                <mat-label>Nhập vào mật khẩu mới</mat-label>
                <input type="password" matInput placeholder="Ex. Nguyen Van A" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Input repeat new password</mat-label>
                <input matInput placeholder="Ex. Nguyen Van A" />
            </mat-form-field> -->
        </form>
    </div>
    <div class="button">
        <button mat-raised-button color="warn" (click)="updateProfile()">Accept</button>
        <button mat-raised-button target="_blank" (click)="onNoClick()">Cancel</button>
    </div>
</div>