.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.button {
    padding: 8px 26px;
    display: flex;
    flex-wrap: wrap;
    min-height: 60px;
    min-width: 204px;
    align-items: center;
    margin-bottom: -24px;
}