<div class="container">
  <div class="chat-box">
    <div class="row"> 
      <div class="chat-frame">
        <div class="friend">
          <img src="../../../assets/images/applestore.png" alt="img">
          <h1>tantrung</h1>
        </div>

        <div class="chat-messages">
          <div class="chat-messages-show-container">
            <ul class="chat-messages-show-list" id="message-list">
            </ul>
          </div>
          <div class="chat-messages-create-container"> 
            <input class="chat-messages-create-input" type="text" >
            <button  class="chat-messages-create-button" > Send </button>
          </div>
       </div>
      </div>
      



      <div class="user-list">
        <div class="profile">
          <img src="../../../assets/images/applestore.png" alt="img">
          <h1>nhphongphu</h1>
        </div>

      </div>
    </div>

  </div>
</div>