<div class="container" *ngIf=" this.userInfo != null">
    <div class="chat-box">

    <app-chat-content [recentConver]="recentConver" (newMess) = "newMess($event)"></app-chat-content>

    <!-- sender-chat -->
    <div class="user-container">
      <div class="find">
        <!-- <img style="width: 30px; height: 30px;" src="../../../assets/images/search.svg" alt="search"> -->
        <input class="search-input" type="text" placeholder="Seach">

      </div>
      <div class="chat-recent" onmouseover="this.style.overflowY='auto'" onmouseout="this.style.overflowY='hidden'">
        <app-chat-recent *ngFor="let conver of listChat; let i = index" [conversation]="conver"
          (click)="getConverIndex(i)"></app-chat-recent>
      </div>
    </div>
</div>