<div class="personal">
    <div class="personal-image">
    <img src="../../../assets/images/avatar.png" alt="name">
    </div>
    <div class="personal-info-chat-recent">
        <div class="name-time">
            <h4>Uyen Tran</h4>
            <p>12:00</p>
        </div>

        <div class="content-notification">
            <p>Hello World!</p>
        </div>

    </div>

</div>
<mat-divider style="background-color: rgba(112, 112, 112, 0.5); margin-left: 30%; margin-right: 9%;"></mat-divider>
