.sendermessage {
  background: #4290E4;
  padding: 10px 20px;
  margin: 10px;
  text-align: left;
  color: white;
  float: right;
  width: fit-content;
  margin-left: 45%;
  margin-right: 3%;
  border-radius: 25px;
}
