$green: #53B46C;
$red: #CD584A;
* {
  padding: 0%;
  margin: 0%;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 10vw;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  // background-color: $green;
  // justify-content: space-around;
  background-color: #4290E4;
}

.status {
    float: right;
    margin: -1.8rem 0 0 0.8rem;
    background-color: #CD584A;
    color: white;
    border-style: solid;
    border-radius: 50%;
    border-width: 0;
    opacity: 100%;
    height: 0.95rem;
    width: 0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;

    p {
        margin: 0;
        font-size: 0.7rem;
        opacity: 100%;

        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
      }
}


.hello{
    width: 50px !important;
    height: 50px !important;
    text-align: center;
    align-items: center;
    display: flex !important;
    justify-content: center !important;
    margin: 3px !important;

    .material-icons{
        font-size: 30px;
        margin: 0 auto;
    }
}
