<mat-toolbar style="background-color: #4290E4; color: white;" *ngIf="this.auth.user != null">
    <mat-toolbar-row>
        <span [routerLink]="'/chat-page'" style='height: 64px;'><img src="../../../assets/images/chatie-logo-removebg-preview.png" style="height: 63px; width: 160px"></span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>notifications_none</mat-icon>
        </button>
        <button mat-icon-button *ngIf="this.auth.user != undefined" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <!-- <mat-icon>more_vert</mat-icon> -->
          <img [src]="this.auth.user.photoURL" alt="" style="width: 40px; height: 40px; border-radius: 50%">
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="this.auth.user != undefined" mat-menu-item>
              <mat-icon>account_circle</mat-icon>
              <span>Setting profile</span>
            </button>
            <button *ngIf="this.auth.user != undefined" mat-menu-item (click)="LogOut()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
        </mat-menu>


    </mat-toolbar-row>
</mat-toolbar>