<<<<<<< HEAD
*{
    padding: 0%;
    margin: 0%;
}
=======
* {
    padding: 0%;
    margin: 0%;
}

>>>>>>> 98943724cf92f84a18103a530603120ac88a6eca
.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 10vw;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background-color: aquamarine;
}