<mat-toolbar style="background-color: #4290E4; color: white;" *ngIf="this.auth.user">
    <mat-toolbar-row>
        <img src="../../../assets/images/logochatie.png" style="height: 33px; width: 87px">
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="openDialogNoti()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon style="text-decoration: none;color: white;">notifications_none</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="openDialogFriend()">
          <mat-icon>person_add_alt</mat-icon>
        </button>
        <button mat-icon-button *ngIf="this.auth.user != undefined" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <!-- <mat-icon>more_vert</mat-icon> -->
          <img [src]="this.auth.user.photoURL" alt="" style="width: 40px; height: 40px; border-radius: 50%">
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="this.auth.user != undefined" mat-menu-item (click)="openDialog()">
              <!-- <img src="../../../assets/images/avatar.png" alt=""> -->
              <mat-icon>manage_accounts</mat-icon>
              <span>Setting profile</span>
            </button>
            <button *ngIf="this.auth.user != undefined" mat-menu-item (click)="LogOut()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>