<div class="main">
    <h1 style="font-size: xx-large; text-align: center; margin-bottom: 30px;"><b>FRIEND REQUEST</b></h1>
    <mat-divider></mat-divider>

    <div class="noti">
        <div class="info">
            <img src="../../../assets/images/avatar-1.jpg">
            <p>Trung chơi đồ đã gửi lời mời kết bạn</p>
        </div>
        <div class="button">
            <button mat-raised-button color="warn">Đồng ý</button>
            <button mat-raised-button target="_blank" (click)="onNoClick()">Hủy</button>
        </div>
    </div>

    <mat-divider></mat-divider>
    <div class="noti">
        <div class="info">
            <img src="../../../assets/images/avatar-1.jpg">
            <p>Trung chơi đồ đã gửi lời mời kết bạn</p>
        </div>
        <div class="button">
            <button mat-raised-button color="warn">Đồng ý</button>
            <button mat-raised-button target="_blank" (click)="onNoClick()">Hủy</button>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="noti">
        <div class="info">
            <img src="../../../assets/images/avatar-1.jpg">
            <p>Trung chơi đồ đã gửi lời mời kết bạn</p>
        </div>
        <div class="button">
            <button mat-raised-button color="warn">Đồng ý</button>
            <button mat-raised-button target="_blank" (click)="onNoClick()">Hủy</button>
        </div>
    </div>

</div>




<!-- <div>
    <h1>Trung</h1>
    <img src="" alt="">
    <p>đã gửi lời mời kết bạn</p>
    <button></button>
    <button></button>
</div> -->
<!-- <div class="option">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="button-option" style="color:#4290E4 ;">
  <mat-icon>more_horiz</mat-icon>
</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item mat-raised-button>
        <span  style="color: red;">Chặn</span>
      </button>
        <button mat-menu-item mat-raised-button>
        <span  style="color: red">Hủy kết bạn</span>
      </button>
        <button mat-menu-item>
        <span>Xem bộ sưu tập</span>
      </button>
        <button mat-menu-item>
        <span>Hủy</span>
      </button>
    </mat-menu>
</div> -->