<div class="main">
    <h1 style="font-size: xx-large; text-align: center; margin-bottom: 30px;"><b>FRIEND REQUEST</b></h1>
    <p>{{this.mess}}</p>
    <mat-divider></mat-divider>

    <div *ngFor="let request of listRequest; let i = index">
        <div class="noti">
            <div class="info">
                <img [src]="request.avatar">
                <p>{{request.userName}} has sent friend request</p>
            </div>
            <div class="button" *ngIf="!this.messRequest">
                <button mat-raised-button color="warn" (click)="clickAddFriend(request._id, 1, i)">Accept</button>
                <button mat-raised-button target="_blank" (click)="clickAddFriend(request._id, 0, i)">Cancel</button>
            </div>
            <div class="button" *ngIf="this.messRequest && this.messRequest.index == i">
                <p>{{this.messRequest.mess}}</p>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>
<!-- 
    

    <div class="noti">
        <div class="info">
            <img src="../../../assets/images/avatar-1.jpg">
            <p>Trung chơi đồ has sent friend request</p>
        </div>
        <div class="button">
            <button mat-raised-button color="warn">Accept</button>
            <button mat-raised-button target="_blank" (click)="onNoClick()">Cancel</button>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="noti">
        <div class="info">
            <img src="../../../assets/images/avatar-1.jpg">
            <p>Trung chơi đồ has sent friend request</p>
        </div>
        <div class="button">
            <button mat-raised-button color="warn">Accept</button>
            <button mat-raised-button target="_blank" (click)="onNoClick()">Cancel</button>
        </div>
    </div> -->





<!-- <div>
    <h1>Trung</h1>
    <img src="" alt="">
    <p>đã gửi lời mời kết bạn</p>
    <button></button>
    <button></button>
</div> -->
<!-- <div class="option">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="button-option" style="color:#4290E4 ;">
  <mat-icon>more_horiz</mat-icon>
</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item mat-raised-button>
        <span  style="color: red;">Chặn</span>
      </button>
        <button mat-menu-item mat-raised-button>
        <span  style="color: red">Hủy kết bạn</span>
      </button>
        <button mat-menu-item>
        <span>Xem bộ sưu tập</span>
      </button>
        <button mat-menu-item>
        <span>Hủy</span>
      </button>
    </mat-menu>
</div> -->