<main>
    <div class="log-in-container">
        <div class="log-in">
            <!-- Logo -->
            <img src="../../../assets/images/logochatblue.png" class="logo" style="margin-bottom: 3rem;" />
            <p style="font-size: 1.3rem;font-weight: 700;color:grey;margin-bottom: auto;">Sign up to message with your friend.</p>
            <!-- Log in form -->
            <div class="log-in-form">
                <input type="text" placeholder="Email" [(ngModel)]="email" required>
                <input type="text" placeholder="Username" maxlength="30" [(ngModel)]="userName" required>
                <input type="password" placeholder="Password" [(ngModel)]="password" required>
                <input type="password" placeholder="Retype password" [(ngModel)]="retypepassword" required>
                <button (click)="registerAccount()" class="sign-in-btn" mat-raised-button><a  >SIGN UP</a> </button>
            </div>
        </div>
        <!-- Sign up -->
        <div class="sign-up" style="border-width: 2px; border-radius: 5px;border-style: ridge;">
            <span>Have an account?</span><a href="/">Log in</a>
        </div>
    </div>
</main>