<main>
    <div class="log-in-container">
        <div class="log-in">
            <!-- Logo -->
            <img src="../../../assets/images/chatie-logo.png" class="logo" style="margin-bottom: 3rem;" />
            <p style="font-size: 1.3rem;font-weight: 700;color:grey;margin-bottom: auto;">Sign up to message with your friend.</p>
            <!-- Log in form -->
            <div class="log-in-form">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Retype password">
                <button class="sign-in-btn" mat-raised-button><a  href="/">SIGN UP</a> </button>
            </div>
        </div>
        <!-- Sign up -->
        <div class="sign-up" style="border-width: 2px; border-radius: 5px;border-style: ridge;">
            <span>Have an account?</span><a href="/">Log in</a>
        </div>
    </div>
</main>